input:focus, select:focus {
    outline: none; 
}

button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
    cursor: pointer;
    padding: 5px 10px;
	-ms-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(116, 116, 116, 0.4);
	-ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(116, 116, 116, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(116, 116, 116, 0.4);
    color: #fff;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-ms-transition: background .5s;
	-o-transition: background .5s;
	transition: background .5s;
    border: 1px solid #696969;
	-ms-text-shadow: #696969 0 1px 0;
	text-shadow: #696969 0 1px 0;
    background: -moz-linear-gradient(to top, #999 0%, #bbb 100%);
    background: linear-gradient(to top, #999 0%, #bbb 100%);
}

	button:hover:not([disabled]) {
        background: -moz-linear-gradient(to top, #777 0%, #999 100%);
        background: linear-gradient(to top, #777 0%, #999 100%);
    }

    button:active:not([disabled]) {
        padding-top: 6px;
        padding-bottom: 4px;
        text-shadow: #696969 0 -1px 0;
        background: -moz-linear-gradient(to top, #666 0%, #777 100%);
        background: linear-gradient(to top, #666 0%, #777 100%);
    }

    button:disabled {
        opacity:0.5;
        background:#aaa!important;
        border-color: #777!important;
        cursor:default;
    }
    
    button.Blue {
        border: 1px solid #324fff;
        background: -moz-linear-gradient(to top, #0043cc 0%, #3f60ff 100%);
        background: linear-gradient(to top, #0043cc 0%, #3f60ff 100%);
    }

        button.Blue:hover:not([disabled]) {
            background: -moz-linear-gradient(to top, #0035a1 0%, #0043cc 100%);
            background: linear-gradient(to top, #0035a1 0%, #0043cc 100%);
        }

        button.Blue:active:not([disabled]) {
            background: -moz-linear-gradient(to top, #002d89 0%, #0035a1 100%);
            background: linear-gradient(to top, #002d89 0%, #0035a1 100%);
        }

    button.Green {
        border: 1px solid #006d13;
        background: -moz-linear-gradient(to top, #009327 0%, #00ad2e 100%);
        background: linear-gradient(to top, #009327 0%, #00ad2e 100%);
    }

        button.Green:hover:not([disabled]) {
            background: -moz-linear-gradient(to top, #007a20 0%, #009327 100%);
            background: linear-gradient(to top, #007a20 0%, #009327 100%);
        }

        button.Green:active:not([disabled]) {
            background: -moz-linear-gradient(to top, #005f19 0%, #007a20 100%);
            background: linear-gradient(to top, #005f19 0%, #007a20 100%);
        }

    button.Red {
        border: 1px solid #c83939;
        background: -moz-linear-gradient(to top, #d00000 0%, #e00 100%);
        background: linear-gradient(to top, #d00000 0%, #e00 100%);
    }

        button.Red:hover:not([disabled]) {
            background: -moz-linear-gradient(to top, #b11717 0%, #d00000 100%);
            background: linear-gradient(to top, #b11717 0%, #d00000 100%);
        }

        button.Red:active:not([disabled]) {
            background: -moz-linear-gradient(to top, #930e0e 0%, #b11717 100%);
            background: linear-gradient(to top, #930e0e 0%, #b11717 100%);
        }



input[type="text"], input[type="password"] {
    background-color:#f6f6f6;
    padding:5px 10px;
    border:1px solid #808080;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

input[type="text"]:disabled, input[type="password"]:disabled {
    background-color:#ddd!important;
    border-color:#bbb!important;
}

select {
    background-color: #ddd;
    border-color: #aaa;
    color: #aaa;
    padding: 5px;
    border-radius: 3px;
}

select:disabled {
    opacity:0.5;
}

.InfoTooltip:before {
    content: "?";
}

.InfoTooltip {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 200px;
    background: radial-gradient(ellipse at center, #c9c9c9 45%,rgb(117, 117, 117) 100%);
    color: #fff;
    font-weight: bolder;
    text-shadow:#ccc 0 1px 0;
    box-shadow: #e9e9e9 2px 4px 10px 0 inset;
    text-align:center;
    transition:opacity .5s;
}

    .InfoTooltip:hover {
        width:auto!important;
        background: #ddd!important;
        transition:background .5s ease-in-out, opacity .5s ease-in-out;
        border-color: #aaa;
    }

	.InfoTooltip[data-Value]:hover:after {
		content: attr(data-Value);
		font-weight: normal;
		color: #666;
		text-shadow: none;
		padding: 5px;
	}