@{
    ViewBag.Title = "About";
}

<div id="AboutText" class="Fill">
    <div class="Section">
        <div class="Content">
            Pixelator.io is a web service that allows you to store your files and data securely within the pixels of a picture.
            This picture can be stored, shared and decoded as needed.
        </div>
        <div class="Section">
            <div class="Title">Steps</div>
            <div class="Content">
                <ul class="Steps">
                    <li>
                        <p>Select the data that you want to store and optionally provide a password to securely encrypt your data.</p>
                    </li>
                    <li>
                        <p>Download and save the picture containing the encoded data.</p>
                    </li>
                    <li>
                        <p>When required you can return with the picture and password to retrieve your original data.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="Content">
            <span id="SiteBy">Site by <a href="http://elliotswebsite.com/" target="_blank">TimeToogo</a></span>
        </div>
    </div>
</div>

@section css {
    @Styles.Render("~/Content/Css/About/Index.css")
}