@{
    ViewBag.Title = "Specify your password";
}

<div id="ChoosePassword" class="Fill">
    <div id="PasswordControl">
        <input type="password" id="PasswordInput" placeholder="Password:" />
    </div>
</div>