@{
    ViewBag.Title = "Specify your picture";
}

<div id="ChooseImage" class="Fill">
    <div id="DataControls" class="ChooseImageControls">
        <button id="ChooseImageButton" class="Green"><img src="~/Content/Images/Photo.png" />Specify Picture</button>
        <button id="RemoveImageButton" class="Red">Remove Picture</button>
        <div class="Hidden">
            <input type="file" id="FileInput" accept="image/png,image/gif,image/bmp"/>
        </div>
    </div>
    <div class="HorizontalSeperator"></div>
    
    @{ 
        Html.RenderPartial("~/Views/Shared/Transcoding/DataList.cshtml", "InputDataList");  
    }

    <div id="DataListDragDataArea" class="DragDataArea">
        Drag and drop an image here.
    </div>

    @{ 
        Html.RenderPartial("~/Views/Shared/Transcoding/ErrorDialog.cshtml", "ChooseImageErrorDialog");  
    }

</div>