.Section {
    margin-top:15px;
}

    .Section > .Title{
        color:#666;
        font-size:24px;
        font-weight:bolder;
    }

    .Section > .Content{
        margin-top:5px;
        color:#888;
        font-size:16px;
    }

    .Section .Section > .Title{
        color:#777;
        font-size:20px;
        font-weight:bold;
    }

.Steps {
    counter-reset:li;
    margin:0;
    padding:0;
}

    .Steps > li {
        list-style:none;
        position:relative;
        padding-left:40px;
    }

    .Steps > li:before {
        font-size:40px;
        position:absolute;
        left:0;
        top:15px;
        bottom:0;
        content: counter(li) ".";
        counter-increment: li;
        color:#bbb;
        font-weight:bolder;
    }

        .Steps > li > p {
            width:79%;
            display:inline-block;
        }

        .Steps > li > img {
            /*width:20%;
            max-height:100%;*/
            display:inline-block;
            float:right;
        }

#GetStartedNavigation {
    width:300px;
    margin: 30px auto;
}