.Section {
    margin-top:15px;
}

    .Section > .Title {
        color:#777;
        font-size:20px;
        font-weight:bolder;
    }

    .Section > .Content {
        margin-top:5px;
        color:#888;
        font-size:16px;
    }

    .Section .Section > .Title {
        color:#777;
        font-size:20px;
        font-weight:bold;
    }
	
.Section table th,.Section table td  {
	text-align: left;
	padding: 5px 10px 5px 0;
}

.Steps {
    counter-reset:li;
    margin:0;
    padding:0;
}

    .Steps > li {
        list-style:none;
        position:relative;
        color:#888;
        font-size:16px;
	    vertical-align: bottom;
    }

    .Steps > li:before {
        font-size:30px;
        content: counter(li) ".";
        counter-increment: li;
        color:#bbb;
        font-weight:bolder;
    }

        .Steps > li > p {
            display:inline-block;
        }
		
#SiteBy  {
	margin-top: 50px;
	display: block;
}

#SiteBy a {
   color:#888;
}