.Section {
    margin-top:15px;
}

    .Section > .Title{
        color:#666;
        font-size:24px;
        font-weight:bolder;
    }

    .Section > .Content{
        margin-top:5px;
        color:#888;
        font-size:16px;
    }

    .Section .Section > .Title{
        color:#777;
        font-size:20px;
        font-weight:bold;
    }

.Steps {
    counter-reset:li;
    margin:0;
    padding:0;
}

    .Steps > li {
        list-style:none;
        position:relative;
        color:#888;
        font-size:16px;
	    vertical-align: bottom;
    }

    .Steps > li:before {
        font-size:30px;
        content: counter(li) ".";
        counter-increment: li;
        color:#bbb;
        font-weight:bolder;
    }

        .Steps > li > p {
            display:inline-block;
        }