<transcodingConfiguration
  iterationCount="20000"
  bufferSize="81920"
  fileGroupSize="1048576"
  jobExpiryIntervalSeconds="600">
  
  <embeddedPictureLimits
    width="2000"
    height="2000"
    bytes="5242880" />

  <encodedDataLimits
    rawStorage="20971520"
    autoPixelStorage="15728640"
    highPixelStorage="15728640"
    mediumPixelStorage="10485760"
    lowPixelStorage="5242880" />
</transcodingConfiguration>