@{
    ViewBag.Title = "Choose your password";
}

<div id="ChoosePassword" class="Fill">
    <div id="PasswordControl">
        <input type="password" id="PasswordInput" placeholder="Password:" />
        <div id="PasswordStrengthMeter">
            <div id="Bar"></div>
            <div id="First" class="Seperator"></div>
            <div id="Second" class="Seperator"></div>
            <div id="Third" class="Seperator"></div>
        </div>
    </div>

    <div id="PasswordInfo">
        <div id="PasswordStrengthInfo">
            <label id="PasswordStrengthLabel">Estimated password strength: </label>
            <label id="PasswordStrengthValueLabel" class="Value"></label>
        </div>

        <div id="NoPasswordInfo" class="Hidden PasswordDescription">
            <label class="Header">No password specified, your data will not be secure!</label>
            <p class="Description">
                If you do not specify a password, your data will not be encrypted. This will leave the data vunerable to unauthorized access.
            </p>
            <label class="SuggestionsLabel">Suggestions:</label>
            <ul class="SuggestionsList">
                <li>Any password is better than no password</li>
            </ul>
        </div>

         <div id="CommonPasswordInfo" class="Hidden PasswordDescription">
            <label class="Header">This is a common password. It will leave your data vunerable!</label>
            <p class="Description">
                Common passwords are easy for attackers to guess, attempt to make it more personal and meaningful.
            </p>
            <label class="SuggestionsLabel">Suggestions:</label>
            <ul class="SuggestionsList">
                <li>Be creative use misspelled words or capital letters</li>
                <li>If you have trouble remembering complex password, combine several words</li>
            </ul>
        </div>
        
        <div id="WeakPasswordInfo" class="Hidden PasswordDescription">
            <label class="Header">A weak or predicatable password can leave your data vunerable!</label>
            <p class="Description">
                If your specified password is short or easily guessable (ie a dictionary word) this could still leave your data vunerable to attackers.
            </p>
            <label class="SuggestionsLabel">Suggestions:</label>
            <ul class="SuggestionsList">
                <li>A password becomes exponentially stronger with length, 'correcthorsebatterystaple' is far superior to 'tR0b@leD' </li>
                <li>If you have trouble remembering complex password, combine several words</li>
                <li>Increasing the complexity (including non alphanumeric characters) can increase password strength</li>
            </ul>
        </div>
        
        <div id="MediumPasswordInfo" class="Hidden PasswordDescription">
            <label class="Header">A medium password should not be used to protect invaluable data.</label>
            <p class="Description">
                This password seems to be border-line safe, it is possible that dedicated attackers could still break the password.
            </p>
            <label class="SuggestionsLabel">Suggestions:</label>
            <ul class="SuggestionsList">
                <li>Add a meaningful word to the end of your password</li>
                <li>Common passwords are almost as bad as no password</li>
            </ul>
        </div>
        
        <div id="StrongPasswordInfo" class="Hidden PasswordDescription">
            <label class="Header">A strong password should protect your data from even dedicated attackers.</label>
            <p class="Description">
                This password seems to be strong. You should be confident that this will keep your data secure. But if you forget the password, you lose your data
            </p>
            <label class="SuggestionsLabel">Suggestions:</label>
            <ul class="SuggestionsList">
                <li>Make sure you remember the password, make it meaningful to you and nobody else</li>
            </ul>
        </div>

        <div id="VeryStrongPasswordInfo" class="Hidden PasswordDescription">
            <label class="Header">A very strong password should keep your data safe from all but those who posses it.</label>
            <p class="Description">
                This password seems to be very strong. As long as it is remembered and kept secret your data should remain secure.
            </p>
            <label class="SuggestionsLabel">Suggestions:</label>
            <ul class="SuggestionsList">
                <li>Dont forget it! Make it meaningful to you and nobody else.</li>
                <li>Be certain that you do not share it or store it unprotected.</li>
                <li>Make sure it is not a common password, otherwise it can leave your data vunerable.</li>
            </ul>
        </div>
        
        <div id="AdvancedPasswordInfoHeader">
            <div class="HorizontalSeperator"></div>
            <button id="AdvancedPasswordInfoButton">Advanced</button>
            <div class="HorizontalSeperator"></div>
        </div>
        <div id="AdvancedPasswordInfo" class="Hidden">
            <div id="CharacterSet">
                <label id="CharacterSetLabel" class="Prefix">Estimated character set length: </label>
                <label id="CharacterSetValueLabel" class="Value"></label>
            </div>
            <div id="EntropyPerCharacter">
                <label id="EntropyPerCharacterLabel" class="Prefix">Estimated entropy per character: </label>
                <label id="EntropyPerCharacterValueLabel" class="Value"></label>
                <label id="EntropyPerCharacterMeasureLabel"> bits</label>
            </div>
            <div id="TotalEntropy">
                <label id="TotalEntropyLabel" class="Prefix">Total estimated entropy: </label>
                <label id="TotalEntropyValueLabel" class="Value"></label>
                <label id="TotalEntropyMeasureLabel"> bits</label>
            </div>
        </div>
    </div>
</div>