.TranscodingBody > .TranscodingHeader {
    width:100%;
}

    .TranscodingBody > .TranscodingHeader > .TranscodingContentTitle {
        width: 100%;
        font-size: 24px;
        color:#999;
        display: inline-block;
        text-align: center;
	    height: 31px;
    }

.TranscodingNavigation {
    height:35px;
    position:absolute;
    top:0;
    width:100%;
}

    .TranscodingNavigation .HorizontalSeperator {
        display:block;
    }
    
    .TranscodingNavigation .NavigationButton {
        width:15%;
	    min-width: 100px;
        height:30px;
        font-size:16px;
        line-height:0;
    }

    .TranscodingNavigation #BackButton {
        float:left;
    }

    .TranscodingNavigation #ContinueButton {
        float:right;
    }

@media screen and (max-width: 600px) {
	
	.TranscodingNavigation {
		display: block;
		position:relative;
		width:100%;
	}
    
    .TranscodingNavigation .NavigationButton {
        width:25%;
	    min-width: 0;
    }


}