#ChooseImage #DataControls button {
    font-size:16px;
    height:34px;
}
    #ChooseImage #DataControls button img {
		vertical-align: text-top;
		margin-right: 3px;
    }

#ChooseImage #DataControls #RemoveImageButton {
    float:right;
}

#ChooseImage #DataControls {
    margin: 4px 0;
}

#ChooseImage #ChooseImage > .HorizontalSeperator, #ChooseImage #DataList > .HorizontalSeperator {
	margin-bottom: 0;
}

#ChooseImage #DataListHeader span {
    font-size:20px;
    color:#808080;
}

#ChooseImage #DataListHeader #DataListHeaderSize {
    float:right;
}

