@model string

<div id="DataList">
    <div id="DataListHeader">
        <span id="DataListHeaderName">
            Name
        </span> 
        <span id="DataListHeaderSize">
            Size
        </span>
    </div>
    <div class="HorizontalSeperator"></div>
    <ul id="@Model" class="DataList"></ul>
</div>