@model string
<div id="@Model" class="ErrorDialog FadeEffect Hidden">
    <div class="ErrorHeader">
        Oops!
    </div>
    <div class="ErrorMessage">

    </div>
    <div class="ErrorButtons">
        <button class="OKButton">Understood</button>
    </div>
</div>