@{
    ViewBag.Title = "What is this";
}

<div id="WhatIsThisText" class="Fill">
    
</div>

@section css {
    @Styles.Render("~/Content/Css/WhatIsThis/Index.css")
}

@section scripts {
    @Scripts.Render("~/Scripts/WhatIsThis/Index.js")
}