#ChoosePassword {
	margin-top: 5px;
}

#ChoosePassword #PasswordControl > #PasswordInput {
    color:#000;
    font-size:26px;
    width:100%;
}

#ChoosePassword #PasswordControl > #PasswordStrengthMeter {
    position:relative;
    width:100%;
    margin-top:3px;
    height:5px;
    background-color:#ddd;
}

    #ChoosePassword #PasswordStrengthMeter {
        width:100%;
        margin-top:3px;
        height:5px;
        background-color:#fefefe;
    }

        #ChoosePassword #PasswordStrengthMeter > #Bar {
            width:0;
            height:100%;
            transition: width .2s ease-out, background-color .4s ease-in-out;
        }
        
        #ChoosePassword #PasswordStrengthMeter > #Bar.Weak, #ChoosePassword #PasswordStrengthMeter > #Bar.Common {
            background-color:#d55757;
        }

        #ChoosePassword #PasswordStrengthMeter > #Bar.Medium {
            background-color:#e8c025;
        }

        #ChoosePassword #PasswordStrengthMeter > #Bar.Strong {
            background-color:#61b25c;
        }
        
        #ChoosePassword #PasswordStrengthMeter > #Bar.VeryStrong {
            background-color:#175bfe;
        }
        
        #ChoosePassword #PasswordStrengthMeter > .Seperator {
            position:absolute;
            width:1%;
            height:100%;
            top:0;
            background-color:#efefef;
        }

        #ChoosePassword #PasswordStrengthMeter > #First.Seperator {
            left:25%;
        }
        #ChoosePassword #PasswordStrengthMeter > #Second.Seperator {
            left:50%;
        }
        #ChoosePassword #PasswordStrengthMeter > #Third.Seperator {
            left:75%;
        }

#ChoosePassword #PasswordInfo {
    width: 100%;
    margin-top: 10px;
}

    #ChoosePassword #PasswordInfo > #PasswordStrengthInfo label {
        font-size:24px;
        font-weight:bold;
        color:#666;
    }

    #ChoosePassword #PasswordInfo > .PasswordDescription > .Header {
        font-size:18px;
        color:#888;
    }
    
    #ChoosePassword #PasswordInfo > .PasswordDescription > .Description {
        font-size:16px;
        color:#999;
    }

    #ChoosePassword #PasswordInfo > .PasswordDescription > .SuggestionsLabel {
        font-size:20px;
        color:#666;
    }

    #ChoosePassword #PasswordInfo > .PasswordDescription > .SuggestionsList {
        padding-left: 20px;
        margin: 10px 0 0 0;
        font-size:16px;
        color:#999;
    }

#ChoosePassword #AdvancedPasswordInfoHeader {
    margin-top: 20px;
}

#ChoosePassword #AdvancedPasswordInfo > div {
    margin-top:10px;
    font-size:16px;
    color:#999;
}
    #ChoosePassword #AdvancedPasswordInfo > div > .Prefix {
        width:300px;
    }