#ChooseData #DataControls button {
    font-size:16px;
    height:34px;
	vertical-align: middle;
}
    #ChooseData #DataControls button img {
		vertical-align: text-top;
		margin-right: 3px;
    }

#ChooseData #DataControls #AddFilesButton, #DataControls #AddDirectoryButton {
    margin-right:3px;
}

#ChooseData #DataControls #RemoveButtons {
    float:right;
}

#ChooseData #DataControls #RemoveAllButton {
	margin-left: 3px;
}

#ChooseData #DataControls {
    margin: 4px 0;
}

	#ChooseData #DataControls > button {
		vertical-align: top;
	}

#ChooseData #ChooseData > .HorizontalSeperator, #DataList > .HorizontalSeperator {
	margin-bottom: 0;
}

#ChooseData #DataListHeader span {
    font-size:20px;
    color:#808080;
}

#ChooseData #DataListHeader #DataListHeaderSize {
    float:right;
}

@media screen and (max-width: 600px) {
	#ChooseData #DataControls #AddDirectoryButton:disabled {
		display: none;
	}

	#ChooseData #DataControls #RemoveButtons {
		float:none;
		margin-top: 5px;
		margin-left: 0;
	}
}